<header class="bg-white dark:bg-gray-700 px-10 pt-8 py-4 shadow-lg flex items-center justify-between  transition-all">
    <div class="flex items-center">
        <div class="flex items-center">
            <div>
                <strong class="ml-2 dark:text-gray-300">ToDo</strong>
            </div>
        </div>
        <nav class="flex ml-10 font-semibold text-gray-600 dark:text-gray-300 text-lg">
            <NavLink ActiveClass="text-purple-800 dark:text-purple-400" href="" Match="NavLinkMatch.All" class="mr-10 font-semibold">Home</NavLink>
        </nav>
    </div>
</header>
