@page "/"

<div class="top-0 sticky bg-slate-800 text-white py-4">
    <h1 class="mt-5 font-black text-center text-3xl tracking-wider bg-clip-text text-transparent bg-gradient-to-r from-teal-200 to-lime-200">ToDo</h1>
</div>
<div class="md:grid xl:grid-cols-6 lg:grid-cols-4 md:grid-cols-3 xs:grid-cols-1 gap-4">
<div>el</div><div>el</div><div>el</div><div>el</div><div>el</div><div>el</div>
</div>